@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$blue :  #40c2ed;
$dark_blue: #0b0b22;

body {
    background-color: #050510;
    font-family: 'Open Sans', sans-serif;
}

.logo_text {
    margin-left: 80px;
    margin-top: -20px;
    color: #888c92;
}

.profile {
    background-color: #0b0b5b;
    color: #fff;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
    h5 {
        font-size: 18px;
    }
    .sky-blue {
        color: $blue;
        padding-left: 30px;
    }
    .bio {
        font-size: 14px;
        padding-top: 39px;
        padding-bottom: 10px;
    }
}

.sidebar-left {
    background-color: #2b2b2e;
    color: #fff;
    margin-top: 50px;

    ul {
        padding: 20px 0 20px 0;
       li {
           list-style: none;
           text-align: left;
           a{
               margin-left: 20px;
           }
           hr {
               border-color: #c3c5c9
           }
       }
    }
}


.main-content {
    margin-top: 50px;

    .vote {
        background: $dark_blue;
        color: #fff;    
        .like {
            // float: right;
            padding-top: 25px;
            font-size: 10px;
        }
        ol {
            counter-reset: list;
            padding: 30px 15px 30px 15px;
            li {
                list-style: none;
                span {
                    margin-left: 20px;
                }
            }
            li:before {
                content: counter(list) ") ";
                counter-increment: list;
            }
           
            hr {
                border: solid 1px #3f474f;
                margin-top: 25px;
            }
        }
    }

    .t {
        background: $dark_blue;
        color: #fff;
        text-align: center;
        padding: 30px 15px 30px 15px;

        h5 {
            line-height: 22px;
        }
        .percentage {
            color: #4e95d3;
        }

        .fund {
            background: $blue;
            color: #fff;
        }
    }
    .next-match {
        background: #4e95d4;
        color: #fff;
        h5 {
            font-size: 15px;
            margin-top: 8px;
        }
        .btn-more {
            background: #d61a1e;
            color: #fff;
            // float: right;   
            margin-left: 50px;
        }
    }
}

.heading {
    background-color: #222222;
    color: #fff;
    padding: 10px 0 10px 50px;
}
.brand {
    text-align: center;
    background: #10101f;
    margin: 15px;
    padding: 10px 0 25px 0;
    img {
        height: 100px;
    }
    p {
        color: #fff;
    }
    .buy_now {
        background: $blue;
        color: #fff;
    }
}

.sidebar-right {
    margin-top: 50px;
    .card {
        border: none;
        .cooming_soon {
            background: url('../img/cooming\ soon.png');
            p {
                font-size: 18px;
                text-align: center;
                color: white;
                padding: 20px;
            }
        }
        .card-header {
            background-color: $blue;
            color: #fff;
            text-align: center;
        }
        .card-body {
            padding: 10px;
            font-size: 12px;
            color: #fff;
            background-color: #2b2b2e;
            .teams {
                margin: 10px 0 10px 0;
                text-align: center;
            }
            .vs {
                color: $blue;
                font-size: 20px;
            }
            .date {
                font-size: 10px;
            }
        }
    }
}


.social-info {
    padding: 0;
    margin: 0;
    text-align: center;
    background: #10101f;
    color: #fff;
    ul {
        text-align: center;
        padding: 20px;
        li {
            list-style: none;
            list-style-type: none;
            display: inline-block;
            margin: 15px;
            padding: 15px;
            text-align: left;
            .icon {
                float: left;
            }
            .icon-content {
                float: right;
                margin-left: 20px;
            }
            i {
                font-size: 2em;
                width: 1.6em;
                text-align: center;
                line-height: 1.6em;
                color: $blue;
                border-radius: 0.8em;
                background: #fff;
            }
        }
    }
    p {
        font-size: 18px;
    }
    span {
        font-size: 16px;
        color: #868686;
    }
}


.social {
    ul {
        hr {
            border: solid 1px #eff2f4;
        }
        text-align: center;
        li {
            list-style: none;
            list-style-type: none;
            display: inline-block;
            margin: 15px;
            // padding: 15px;
            text-align: left;
            i {
                font-size: 2em;
                width: 1.6em;
                text-align: center;
                line-height: 1.6em;
                color: #d0d1d2;
                border-radius: 0.8em;
                background: #fff;
            }
        }
    }
}


footer {
    color: #fff;
    text-align: center;
    ul {
        padding: 0;
        li {
            list-style: none;
            color: #acacac;
        }
    }
    .copyright {
        color: #acacac;
    }
}