@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url("fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadPro-Bold.otf") format("opentype"), url("fonts/MyriadPro-Bold.woff") format("woff"), url("fonts/MyriadPro-Bold.ttf") format("truetype"), url("fonts/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #050510;
  font-family: 'Open Sans', sans-serif; }

.logo_text {
  margin-left: 80px;
  margin-top: -20px;
  color: #888c92; }

.profile {
  background-color: #0b0b5b;
  color: #fff;
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px; }
  .profile h5 {
    font-size: 18px; }
  .profile .sky-blue {
    color: #40c2ed;
    padding-left: 30px; }
  .profile .bio {
    font-size: 14px;
    padding-top: 39px;
    padding-bottom: 10px; }

.sidebar-left {
  background-color: #2b2b2e;
  color: #fff;
  margin-top: 50px; }
  .sidebar-left ul {
    padding: 20px 0 20px 0; }
    .sidebar-left ul li {
      list-style: none;
      text-align: left; }
      .sidebar-left ul li a {
        margin-left: 20px; }
      .sidebar-left ul li hr {
        border-color: #c3c5c9; }

.main-content {
  margin-top: 50px; }
  .main-content .current-team {
    margin: 30px; }
    .main-content .current-team img {
      margin: auto;
      height: 80px; }
    .main-content .current-team h5 {
      color: #fff;
      text-align: center;
      margin-top: 20px; }
  .main-content .badges {
    margin: 30px; }
    .main-content .badges img {
      margin: auto;
      height: 80px; }
  .main-content .tournaments {
    margin: 30px; }
    .main-content .tournaments h5 {
      color: white;
      text-align: center;
      padding-top: 10px; }
    .main-content .tournaments .top {
      padding-top: 75px; }
    .main-content .tournaments .bottom {
      padding-top: 25px; }
      .main-content .tournaments .bottom h5 {
        padding-top: 7px; }
    .main-content .tournaments .watch {
      background: #40c2ed;
      color: #fff; }
    .main-content .tournaments a {
      padding-left: 15px; }
    .main-content .tournaments .footer {
      margin: 20px; }
    .main-content .tournaments i {
      font-size: 1.2em;
      width: 1.6em;
      text-align: center;
      line-height: 1.6em;
      color: #fff;
      border-radius: 0.8em;
      border: solid 1px #fff; }
  .main-content .achivements {
    color: #fff;
    text-align: center;
    margin: 30px;
    background-color: #0b0b22;
    background-image: url("../img/achivement_bg.png"); }
    .main-content .achivements h5 {
      font-family: "MyriadPro-Bold", "Open Sans", "Lato", sans-serif; }
    .main-content .achivements .rank {
      margin-top: 20px;
      color: red; }
    .main-content .achivements img {
      margin: auto;
      height: 100px; }
  .main-content .vote {
    background: #0b0b22;
    color: #fff; }
    .main-content .vote .like {
      padding-top: 25px;
      font-size: 10px; }
    .main-content .vote ol {
      counter-reset: list;
      padding: 30px 15px 30px 15px; }
      .main-content .vote ol li {
        list-style: none; }
        .main-content .vote ol li span {
          margin-left: 20px; }
      .main-content .vote ol li:before {
        content: counter(list) ") ";
        counter-increment: list; }
      .main-content .vote ol hr {
        border: solid 1px #3f474f;
        margin-top: 25px; }
  .main-content .t {
    background: #0b0b22;
    color: #fff;
    text-align: center;
    padding: 30px 15px 30px 15px; }
    .main-content .t h5 {
      line-height: 22px; }
    .main-content .t .percentage {
      color: #4e95d3; }
    .main-content .t .fund {
      background: #40c2ed;
      color: #fff; }
  .main-content .next-match {
    background: #4e95d4;
    color: #fff;
    font-family: 'Lato', sans-serif; }
    .main-content .next-match h5 {
      font-size: 15px;
      margin-top: 8px; }
    .main-content .next-match .btn-more {
      background: #d61a1e;
      color: #fff;
      margin-left: 50px; }

.sponsors {
  background: #0b0b22;
  margin: 35px;
  padding: 30px; }
  .sponsors img {
    margin: auto;
    height: 40px; }

.heading {
  background-color: #222222;
  color: #fff;
  padding: 10px 0 10px 50px; }

.heading-80 {
  background-color: #222222;
  color: #fff;
  padding: 10px 0 10px 50px;
  width: 80%; }

.online {
  height: 15px;
  width: 15px;
  background-color: #23dd2c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px; }

.brand {
  text-align: center;
  background: #10101f;
  margin: 15px;
  padding: 10px 0 25px 0; }
  .brand img {
    height: 100px; }
  .brand p {
    color: #fff; }
  .brand .buy_now {
    background: #40c2ed;
    color: #fff; }

.sidebar-right {
  margin-top: 50px; }
  .sidebar-right .card {
    border: none; }
    .sidebar-right .card .cooming_soon {
      background: url("../img/cooming soon.png"); }
      .sidebar-right .card .cooming_soon p {
        font-size: 18px;
        text-align: center;
        color: white;
        padding: 20px; }
    .sidebar-right .card .card-header {
      background-color: #40c2ed;
      color: #fff;
      text-align: center; }
    .sidebar-right .card .card-body {
      padding: 10px;
      font-size: 12px;
      color: #fff;
      background-color: #2b2b2e; }
      .sidebar-right .card .card-body .teams {
        margin: 10px 0 10px 0;
        text-align: center; }
      .sidebar-right .card .card-body .vs {
        color: #40c2ed;
        font-size: 20px; }
      .sidebar-right .card .card-body .date {
        font-size: 10px; }

.social-info {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #10101f;
  color: #fff; }
  .social-info ul {
    text-align: center;
    padding: 20px; }
    .social-info ul li {
      list-style: none;
      list-style-type: none;
      display: inline-block;
      margin: 15px;
      padding: 15px;
      text-align: left; }
      .social-info ul li .icon {
        float: left; }
      .social-info ul li .icon-content {
        float: right;
        margin-left: 20px; }
      .social-info ul li i {
        font-size: 2em;
        width: 1.6em;
        text-align: center;
        line-height: 1.6em;
        color: #40c2ed;
        border-radius: 0.8em;
        background: #fff; }
  .social-info p {
    font-size: 18px; }
  .social-info span {
    font-size: 16px;
    color: #868686; }

.social ul {
  text-align: center; }
  .social ul hr {
    border: solid 1px #eff2f4; }
  .social ul li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    margin: 15px;
    text-align: left; }
    .social ul li i {
      font-size: 2em;
      width: 1.6em;
      text-align: center;
      line-height: 1.6em;
      color: #d0d1d2;
      border-radius: 0.8em;
      background: #fff; }

footer {
  color: #fff;
  text-align: center; }
  footer ul {
    padding: 0; }
    footer ul li {
      list-style: none;
      color: #acacac; }
  footer .copyright {
    color: #acacac; }

/*# sourceMappingURL=maps/app.css.map */
